.bt-ipay-payment-title {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding-right: 16px;

}
.bt-ipay-payment-title img
{
	max-width: 24px;
}

.bt-ipay-enable-cof,
.bt-ipay-card-form select {
	width: 100%;
	padding: 5px;
	margin: 5px 0;
}